Register a Media Type for MLT

Servers and clients using MLT can pretty safely use `application/vnd.maplibre-vector-tile` in MIME/Media-Type fields but at some point it should be officially registered:

[https://www.iana.org/form/media-types](https://www.iana.org/form/media-types)

[https://www.iana.org/assignments/media-types/application/vnd.mapbox-vector-tile](https://www.iana.org/assignments/media-types/application/vnd.mapbox-vector-tile)

Since I've gone through this, I know what you want to say on the form.

- You want the application tree, vnd prefix, and you want the name to have no suffix (text following a +). 
- There are no required or optional parameters.
- The encoding is binary.
- For security, I would defer that to the GeoJSON spec which has the same considerations. I used the wording "MLT carries the same security considerations as GeoJSON. See Section 10 of RFC7946."
- The rest is None

https://www.iana.org/assignments/media-types/application/vnd.openstreetmap.data+xml is the OpenStreetMap XML registration.

This should be done **before** 1.0 so the 1.0 spec can say what the MIME type is.

I don't think "vector" is needed here - the way MLT was designed, it could be other type of data like 3D or routing or even text.  A more appropriate and shorter would be `vnd.maplibre-tile`

Until someone registers the media type it shouldn't be used. The `.x` subtree is for unregistered types that are used by agreement between parties